.cmp-title {}
.cmp-title__text {
/*  -webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: #FFF498;
-webkit-box-direction: normal;
text-align: left;
margin: 0.67em 0;
color: #222;
line-height: 1.05;
letter-spacing: -1px;
margin-top: 0;
margin-bottom: 30px;
font-size: 42px;
font-family: "Raleway",Helvetica,sans-serif;
font-weight: 100;
*/

-webkit-tap-highlight-color: rgba(0,0,0,0);
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 30px;
/*line-height: 20px;*/
color: #666;
box-sizing: border-box;
float: left!important;
}
.cmp-title__link {}

.cmp-title--example .cmp-title  .cmp-title__text{
  font-weight: 300;
  color: #666;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.45rem;
  font-size: 45px;
}
.cmp-title--example .cmp-title__text::first-letter{
  color: white;
    background-color: #666;
    border-radius: 2px;
    box-shadow: 3px 3px 0 #333333;
  //  font-size:100%;
    padding: 6px 3px;
    margin-right: 6px;
    float: left;
    -webkit-font-smoothing: antialiased;
}

//.cmp-title--example .cmp-title .cmp-title__text

.font-color-gold .cmp-title__text{
     color: rgb(192, 159, 70);
 }
